<div class="tech-stack-container">
    <div>
        <span class="tech-stack-title">Tech Stack</span>
    </div>
</div>

<div class="tech-stack-container" >

    <div class="tech-stack-item" *ngFor="let tech of techStack" style="display: flex; align-items: center; justify-content: center;">
        <div>
            <img class="tech-stack-icon" [src]="tech.icon"/>
        </div>
        <div >
            <span class="tech-stack-name">{{tech.name}}</span>
        </div>
    </div>
</div>



 




  
  