.projects-container{
    background-color: beige;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}  
.projects-title{
    display: flex;
    align-items: center;
    gap: 10px;
}   