<div>
  <mat-toolbar>
    <span class="spacer"></span>
    <div class="main-page-flag">  
      <img src="assets/icons/de.svg" alt="German flag">
    </div>
  </mat-toolbar>
  
<div class="sections-container">
  <section id="main-page-section" class="full-height-section">
      <app-main-page class="full-width"></app-main-page>
  </section>
  <mat-divider></mat-divider>
  <section id="education-section" class="full-height-section">
      <app-education class="full-width"></app-education>
  </section>
  <mat-divider></mat-divider>
  <section id="work-experience-section" class="full-height-section">
      <app-working-experience class="full-width"></app-working-experience>
  </section>
  <mat-divider></mat-divider>
  <section id="project-section" class="full-height-section">
      <app-projects class="full-width"></app-projects>
  </section>
  <mat-divider></mat-divider>
  <section id="about-me-section" class="full-height-section">
      <app-about-me class="full-width"></app-about-me>
  </section>
  <mat-divider></mat-divider>
  <section id="tech-stack-section" class="full-height-section">
      <app-tech-stack class="full-width"></app-tech-stack>
  </section>
</div>



  <button mat-button class="scroll-to-top" 
  (click)="scrollToTop()" 
  *ngIf="showScrollButton"
  >
    <mat-icon>arrow_upward</mat-icon>
    <span>Back to top</span>
  </button>
</div>

