<div class="working-experience-container">
    <div class="working-experience-title">
        <mat-icon>apartment</mat-icon>
        <span class="working-experience-title-text">Working Experience</span>
    </div>
    <div class="working-experience-content"  >
        <div class="working-experience-text-container" >
          <app-card 
          imageSrc="assets/icons/biso-logo.svg" 
          imageAlt="Biso" 
          title="bi-so business intelligence software solutions GmbH" 
          subtitle="2023 Dec - Now" 
          content="orem Ipsum ">
        </app-card>

        </div>
        <div >
            <img class="working-experience-icon" src="assets/icons/work.png" >
        </div>
    </div>
</div>
