.working-experience-container{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}   
.working-experience-title{
    display: flex;
    align-items: center;
    gap: 10px;
} 

.working-experience-content{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}


.working-experience-title-text{
    font-size: x-large;
}



.working-experience-text-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;

}










/* iPhone (small screens) */
@media (max-width: 480px) {
    .working-experience-icon {
        max-width: 270px; /* Smaller size for iPhone */
        height: auto;      /* Maintain aspect ratio */
    }
    .working-experience-text-container{
        font-size: small;
        
    }

}

/* iPad (medium screens) */
@media (min-width: 481px) and (max-width: 1024px) {
    .working-experience-icon {
        max-width: 300px; /* Slightly bigger for iPad */
        height: auto;      /* Maintain aspect ratio */
    }
    .working-experience-text-container{
        font-size: medium;
    }

}

/* Laptop (large screens) */
@media (min-width: 1025px) {
    .working-experience-icon {
        max-width: 440px; /* Original size for laptops */
        height: 440px;    /* Maintain original height */
    }
    .working-experience-text-container{
        font-size: large;
    }
}





