<div class="education-container">
    <div class="education-title">
        <mat-icon>school</mat-icon>
        <span class="education-title-text">Education</span>
    </div>
    <div class="education-content">
        <div>
            <img class="education-icon" src="assets/icons/education.png" >
        </div>

        <div class="education-text">
          <app-card 
          imageSrc="assets/icons/tu-darmstadt.svg" 
          imageAlt="tu-darmstadt" 
          title="Technische Universität Darmstadt" 
          subtitle="2023 Dec - Now" 
          content="orem Ipsum ">
        </app-card>
        <app-card 
        imageSrc="assets/icons/strathclyde.webp" 
        imageAlt="Biso" 
        title="Strathclyde Business School" 
        subtitle="2023 Dec - Now" 
        content="orem Ipsum ">
      </app-card>
        </div>
        
    </div>
</div>

