/* You can add global styles to this file, and also import other style files */

html, body { 
    height: 100%;   
    background-color: #e6e7ee;
    color: #31344b;
    scroll-behavior: smooth;
}
body { margin: 0; font-family: "Times New Roman", Times, serif;}
button{
    color: #31344b;
    background-color: #e6e7ee;
    box-shadow: 3px 3px 6px #b8b9be, -3px -3px 6px #fff;
    border-color: #d1d9e6;
    position: relative;
    transition: all .2s ease;
    letter-spacing: .025em;
    
    margin-right:10px;
    
}
button:hover {
    color: #31344b;
    box-shadow: inset 3px 3px 6px #b8b9be, inset -3px -3px 6px #ffffff;
  }
span{
    font-family: "Nunito Sans", sans-serif;
    font-size: 1rem;
    color: #31344b;
    
}




